<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <module name="carce" displayName="Caribou Cumulative Effects" version="1.0.0" configVersion="1.0000" contentType="any">
    <transformers>
      <transformer name="carce" displayName="Caribou Cumulative Effects" isModel="True" isPrimary="True">
        <runtime>
          <transformer name="carce:cmm-carep-wrapper"/>
          <transformer name="carce:carep-dgsim-wrapper"/>
          <transformer name="carce:dgsim-wrapper"/>
        </runtime>
        <include>
          <transformer name="stime:maps"/>
          <transformer name="stime:charts"/>
        </include>
      </transformer>
      <transformer
        name="carce:bridge1-transformer"
        displayName="Movement To Energy Protein Bridge"
        className="SyncroSim.CaribouCumulativeEffects.Bridge1"
        classAssembly="SyncroSim.CCE" runContext="LocalOnly">
        <datafeeds>
          <datafeed name="carce:stratum-crosswalk-datafeed" displayName="Stratum Crosswalk" dataScope="Project">
            <datasheets>
              <datasheet name="CCE_StratumCrosswalk" displayName="Stratum Crosswalk">
                <columns>
                  <column name="StratumCrosswalkID" dataType="Integer" isPrimary="True"/>
                  <column name="ProjectID" dataType="Integer"/>
                  <column name="CMStratumID" displayName="Movement Stratum" dataType="Integer" validationType="Datasheet" formula1="CM_Stratum" allowDbNull="False"/>
                  <column name="CAREPStratumID" displayName="Energy Protein Stratum" dataType="Integer" validationType="Datasheet" formula1="CAREP_Stratum" allowDbNull="False"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
        </datafeeds>
      </transformer>
      <transformer
        name="carce:bridge2-transformer"
        displayName="Energy Protein to Population Bridge"
        className="SyncroSim.CaribouCumulativeEffects.Bridge2"
        classAssembly="SyncroSim.CCE"
        runContext="LocalOnly">
        <datafeeds>
          <datafeed name="carce:energy-protein-to-population-datafeed" displayName="Energy Protein to Population" dataScope="Scenario">
            <datasheets>
              <datasheet name="CCE_EPToPop" displayName="Energy Protein to Population" isSingleRow="True">
                <columns>
                  <column name="EPToPopID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="BaselineCalfWeight" displayName="Baseline Calf Weight (kg)" dataType="Double" validationType="Decimal" validationCondition="GreaterEqual" formula1="0.0" allowDbNull="False"/>
                  <column name="BaselineCowWeight" displayName="Baseline Cow Weight (kg)" dataType="Double" validationType="Decimal" validationCondition="GreaterEqual" formula1="0.0" allowDbNull="False"/>
                  <column name="RefCowBodyWeight" displayName="Reference Cow Weight (kg)" dataType="Double" validationType="Decimal" validationCondition="Greater" formula1="0.0" allowDbNull="False"/>
                  <column name="BodyWeightProb1" displayName="Body Weight to Probability of Pregnancy Logistic Function Coefficient 1" dataType="Double" validationType="Decimal" allowDbNull="False"/>
                  <column name="BodyWeightProb2" displayName="Body Weight to Probability of Pregnancy Logistic Function Coefficient 2" dataType="Double" validationType="Decimal" allowDbNull="False"/>
                  <column name="JulianDayConception" displayName="Julian Date of Conception" dataType="Integer" defaultValue="1" validationType="WholeNumber" validationCondition="Between" formula1="1" formula2="365" format="d" allowDbNull="False"/>
                  <column name="CalfAdjustmentFactor" displayName="Calf Mortality Adjustment Factor for Every kg Change in Weight Relative to Baseline" dataType="Double" validationType="Decimal" validationCondition="Greater" formula1="0.0" allowDbNull="False"/>
                  <column name="CalfAgeClass" displayName="Calf Age Class" dataType="Integer" validationType="Datasheet" formula1="DGSim_AgeClass" allowDbNull="False"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
        </datafeeds>
      </transformer>
      <transformer name="carce:cmm-carep-wrapper" displayName="Movement" isModel="True" previousNames="cmm-carep-wrapper">
        <runtime>
          <transformer name="carmove:runtime"/>
          <transformer name="carce:bridge1-transformer"/>
        </runtime>
      </transformer>
      <transformer name="carce:carep-dgsim-wrapper" displayName="Energy Protein" isModel="True" previousNames="carep-dgsim-wrapper">
        <runtime>
          <transformer name="carep:runtime"/>
          <transformer name="carce:bridge2-transformer"/>
        </runtime>
      </transformer>
      <transformer name="carce:dgsim-wrapper" displayName="Population" isModel="True" previousNames="dgsim-wrapper">
        <runtime>
          <transformer name="dgsim:runtime"/>
        </runtime>
      </transformer>
    </transformers>
    <layouts>
      <layout name="system-forms:library-datafeeds">
        <item name="system:sysfolder-datafeed"/>
        <item name="system:backup-datafeed"/>
        <item name="system:multiprocessing-datafeed"/>
        <item name="system:option-datafeed"/>
      </layout>
      <layout name="system-forms:project-datafeeds">
        <group name="Movement">
          <item name="carmove:stratum-datafeed"/>
          <item name="carmove:stratum-label-x-datafeed"/>
          <item name="carmove:stratum-label-y-datafeed"/>
          <item name="carmove:stratum-label-z-datafeed"/>
          <item name="carmove:terminology-datafeed"/>
        </group>
        <group name="Energy Protein">
          <item name="carep:stratum-datafeed"/>
          <item name="carep:stratum-label-x-datafeed"/>
          <item name="carep:stratum-label-y-datafeed"/>
          <item name="carep:stratum-label-z-datafeed"/>
          <item name="carep:plant-datafeed"/>
        </group>
        <group name="Population">
          <item name="dgsim:stratum-datafeed"/>
          <item name="dgsim:ageclass-datafeed"/>
        </group>
        <item name="carce:stratum-crosswalk-datafeed"/>
      </layout>
      <layout name="system-forms:scenario-datafeeds">
        <group name="Movement">
          <item name="carmove:run-control-datafeed"/>
          <item name="carmove:development-input-datafeed"/>
          <item name="carmove:spatial-files-datafeed"/>
          <item name="carmove:output-options-datafeed"/>
        </group>
        <group name="Energy Protein">
          <item name="carep:run-control-datafeed"/>
          <item name="carep:snodep-datafeed"/>
          <item name="carep:act-datafeed"/>
          <group name="Forage and Diet">
            <item name="carep:fb-datafeed"/>
            <item name="carep:diet-datafeed"/>
          </group>
          <group name="Forage Quality">
            <item name="carep:adf-datafeed"/>
            <item name="carep:bsa-datafeed"/>
            <item name="carep:ndf-datafeed"/>
            <item name="carep:pnit-datafeed"/>
            <item name="carep:pdeg-datafeed"/>
          </group>
          <group name="Initial Conditions">
            <item name="carep:rumen-datafeed"/>
          </group>
          <group name="Rates and Efficiencies">
            <item name="carep:kp-datafeed"/>
            <item name="carep:pcciby-datafeed"/>
            <item name="carep:pcmax-datafeed"/>
            <item name="carep:ar-datafeed"/>
            <item name="carep:stage-input-datafeed"/>
          </group>
          <item name="carep:ptarsum-datafeed"/>
          <item name="carep:para-datafeed"/>
          <item name="carep:location-datafeed"/>
          <item name="carep:preglac-datafeed"/>
          <item name="carep:other-datafeed"/>
          <item name="carce:energy-protein-to-population-datafeed"/>
        </group>
        <group name="Population">
          <item name="dgsim:run-control-datafeed"/>
          <item name="dgsim:initial-population-datafeed"/>
          <group name="Demographic Parameters">
            <item name="dgsim:ageclass-range-datafeed"/>
            <item name="dgsim:offspring-per-female-datafeed"/>
            <item name="dgsim:annualized-mortality-rate-datafeed"/>
            <item name="dgsim:annual-harvest-value-datafeed"/>
            <item name="dgsim:annual-harvest-option-datafeed"/>            
            <item name="dgsim:demographic-rate-shift-datafeed"/>
          </group>
          <item name="dgsim:census-datafeed"/>
        </group>
      </layout>
      <layout name="system-forms:result-transformers">
        <item name="stime:charts"/>
        <item name="stime:maps"/>
        <group name="Export">
          <group name="Reports">
            <item name="carep:mincalfweight-report"/>
            <item name="carmove:location-report"/>
            <item name="dgsim:population-size-report"/>
            <item name="dgsim:posterior-distribution-report"/>
          </group>
          <group name="Maps">
            <item name="carmove:location-map-export"/>
            <item name="carmove:roads-dev-map-export"/>
            <item name="carmove:zoi-map-export"/>
            <item name="carmove:harvest-zone-map-export"/>
          </group>
        </group>
      </layout>
      <layout name="stime-forms:charts" configurationSheet="CAREP_RunControl">
        <item name="Population" datasheet="DGSim_OutputPopulationSize" column="Population" filter="AgeClassID|Sex|StratumID"/>
        <group name="Snow Depth">
          <item name="Snow Depth" datasheet="CAREP_OutStratumTimestep" column="SNODEP" filter="StratumID|StratumLabelXID|StratumLabelYID|StratumLabelZID"/>
        </group>
        <group name="Animal Weight">
          <item name="WTBODY: Body Wt. (kg)" datasheet="CAREP_OutTimestep" column="WTBODY"/>
          <item name="WTCALF: Calf Wt. (kg)" datasheet="CAREP_OutTimestep" column="WTCALF"/>
          <item name="WTFAT: Fat Wt. (kg)" datasheet="CAREP_OutTimestep" column="WTFAT"/>
          <item name="WTFET: Fetus Wt. (kg)" datasheet="CAREP_OutTimestep" column="WTFET"/>
          <item name="WTGUT: Gut Contents Wt. (kg)" datasheet="CAREP_OutTimestep" column="WTGUT"/>
          <item name="WTPRO: Dry protein Wt. (kg)" datasheet="CAREP_OutTimestep" column="WTPRO"/>
        </group>
        <group name="Forage Intake">
          <item name="FI [p]: Total Forage Intake (g/d)" datasheet="CAREP_OutPlantTimestep" column="FIP"/>
        </group>
        <group name="MEI">
          <item name="BYMEI [p]: Bypass MEI (kJ/d)" datasheet="CAREP_OutPlantTimestep" column="BYMEI"/>
          <item name="CCMEI [p]: CC MEI (kJ/d)" datasheet="CAREP_OutPlantTimestep" column="CCMEI"/>
          <item name="CWMEI [p]: CW MEI (kJ/d)" datasheet="CAREP_OutPlantTimestep" column="CWMEI"/>
          <item name="MEI [p]: Total MEI (kJ/d)" datasheet="CAREP_OutPlantTimestep" column="MEIP"/>
          <item name="QM: Metabolizability Coeff. (propn)" datasheet="CAREP_OutTimestep" column="QM"/>
        </group>
        <group name="MNI">
          <item name="BYMNI [p]: Bypass MNI (g/d)" datasheet="CAREP_OutPlantTimestep" column="BYMNI"/>
          <item name="CWMNI [p]: Cell Wall MNI (g/d)" datasheet="CAREP_OutPlantTimestep" column="CWMNI"/>
          <item name="DPMNI [p]: Degradable MNI (g/d)" datasheet="CAREP_OutPlantTimestep" column="DPMNI"/>
          <item name="MCMNI [p]: Microbial MNI (g/d)" datasheet="CAREP_OutPlantTimestep" column="MCMNI"/>
          <item name="MNI [p]: Total MNI (g/d)" datasheet="CAREP_OutPlantTimestep" column="MNIP"/>
          <item name="UPMNI [p]: Undegradable MNI (g/d)" datasheet="CAREP_OutPlantTimestep" column="UPMNI"/>
        </group>
        <group name="Gestation and Lactation">
          <item name="TMLKPR: Target Milk Prod. (l/d)" datasheet="CAREP_OutTimestep" column="TMLKPR"/>
          <item name="TMLKPRWT: Target Milk Prod. (ml/kg-d)" datasheet="CAREP_OutTimestep" column="TMLKPRWT"/>
        </group>
      </layout>
      <layout name="stime-forms:maps" configurationSheet="CM_RunControl" vectorDisplay="True">
        <item name="roads_dev" displayName="Roads and Development"/>
        <item name="zoi" displayName="Zone of Influence"/>
        <item name="harvest_zone" displayName="Harvest Zone"/>
      </layout>
    </layouts>
  </module>
</configuration>
